<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="app">
	<h1>水果</h1>
	<div ng-controller="ctrl">
		<input type="text">
		<input type="button" value="添加" ng-click="addNode()">
		<ul ng-repeat="fruit in fruits">
			<li>{{fruit}}</li>
		</ul>

	</div>
	<script src="script/angular.js"></script>
	<script>
		var app = angular.module("app",[]);
		app.controller("ctrl",function($scope){
			$scope.fruits = ["香蕉","苹果","鸭梨"];
			$scope.addNode = function(){
				this.fruits.push("haha");
			}
		})
	</script>
</body>
</html>